[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/microscopes
[access "refs/for/refs/*"]
	read = group user/microscopes
	push = group user/microscopes
	label-Code-Review = -2..+2 group user/microscopes
	label-Verified = -1..+1 group user/microscopes
	rebase = group user/microscopes
	removeReviewer = group user/microscopes
	submit = group user/microscopes
[access "refs/heads/*"]
	read = group user/microscopes
	create = group user/microscopes
	push = +force group user/microscopes
	pushMerge = group user/microscopes
[access "refs/tags/*"]
	push = +force group user/microscopes
	pushTag = group user/microscopes
	pushSignedTag = group user/microscopes
